@if (Request.IsAuthenticated)
{
    var db = new CashCountDown.CashCountDownContext();
    int balance = db.UserProfiles.Find(WebSecurity.CurrentUserId).BidBalance;
    <text>
    Hello, @Html.ActionLink(User.Identity.Name, "MyProfile", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ActionLink("Bids Remaining: " + balance, "Index", "BidPackages",routeValues: null,htmlAttributes: new { @class="bid-balance flashers"});
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
           
        }

    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
