@model IEnumerable<CashCountDown.Models.Bid>

@{
    ViewBag.Title = "Index";
}

<h2>Recently Placed Bids</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Product.Name, "Details","Auctions", new { id=item.ProductId }) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BidId }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.BidId })
        </td>
    </tr>
}

</table>
